// Colors
$colors: (
  // Main Colors
        primary-color: (
                'orange': #FC7614,
                'dark-blue': #262E38,
        ),
        neutral-color: (
                'light-grey': #969FAD,
        ),
  // Other
        'background': #131518,
        'white': #ffffff,
        'black': #131518,
);